<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/}" method="get">
            <table>
                <tr>
                    <td>Input:</td>
                    <td><input type="text" name="input" /></td>
                    <td>Valid Characters: [a-z],[A-Z],[0-9]</td>
                </tr>

                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
